.main {
  display: grid;
  grid-template-areas:
    "info info info info"
    "contacts posts posts posts";
  width: inherit;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 810px){
    grid-template-areas:
    "info info info info"
    "contacts contacts contacts contacts"
    "posts posts posts posts";
    grid-template-columns: 0 1fr 1fr 0;
  }

}

.main img {
  width: 100%;
}

.plug {
  grid-area: contacts;
  align-self: start;
  min-width: 268px;
  font-size: 1.17em;
  margin: 25px 15px;
  font-weight: bold;
}