.main {
    display: grid;
    grid-template-areas:
    "info info info info"
    "contacts posts posts posts";
    background-color: lightblue;
    width: inherit;
    align-items: center;

}

.main img{
    width: 100%;
}