
.textarea {
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

.input {
  border-radius: 3px;
  padding: 4px;
}

.error {
  border: 2px solid red;

  &:focus {
    outline: 2px solid orange;
  }

  &Text {
    color: red;
    margin: 0;
  }
}

