.selected{
    display: inline-block;
    min-width: 7rem;
    min-height: 2rem;
    position: relative;
    border: 2px solid black;
    border-radius: 2px;
    font-weight: bold;
}

.selected:after{
    position: absolute;
    content: '>';
    font-weight: bolder;
    font-size: 1.25rem;
    right: 2px;
    top: 5px;
}

.item{
    display: block;
    border: 1px solid black;
    width: 7rem;
}


.item:hover{
    background-color: #61dafb;
}


.close{
    display: none;
}
.open{
    display: block;
}