.contacts{
  grid-area: contacts;
  align-self: start;
  min-width: 180px;
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 0 21.5px 0 rgba(0, 0, 0, 0.1);

  & h3{
    margin: 10px 0;
  }

  & .contactsLinks{
    display: grid;
    & p{
      font-weight: bold;

      & a{
        margin-left: 10px;
        color: #9c989c;
        text-decoration: none;
        &:visited{
          color: #9c989c;
        }
      }
    }
  }
}