.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  grid-area: header;
  padding: 30px;

  @media screen {
    @media (max-width: 780px) {
      flex-direction: row;
      justify-content: center;
      padding: 5px 30px;
    }
  }

  & img {
    @media screen {
      @media (max-width: 780px) {
        width: 60px;
        height: auto;
      }
    }
  }
}