.profileInfo{
  grid-area: info;
  width: inherit;
}

.profileMain{
  display: flex;
  margin-left: 20%;

  .lookingForJob{
    border: 5px solid lightgreen;
  }
  & img{
    position: relative;
    top: -30px;
    margin: 0 30px;
    border: 5px solid lightblue;
    border-radius: 50%;
    width: 101px;
    height: 101px;
  }
  &Description{
    & p{
      font-style: italic;
      margin: 3px 0;
    }
  }
}



