.app-wrapper {
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
            'header content'
            'header content';
  grid-template-columns: 250px 1fr;

  @media screen {
    @media (max-width: 1100px) {
      grid-template-columns: 200px 1fr;
    }
    @media (max-width: 780px) {
      grid-template-areas:
            'header header'
            'content content';
    }
  }

  & .content {
    grid-area: content;
    min-height: calc(100vh - 138px);
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
    background-color: #f1f5f8;
    box-shadow: 7px 7px 15px 9px rgba(0, 0, 0, 0.2);
    z-index: 1;
    @media screen {
      @media (max-width: 780px) {
        margin: 5px 30px 15px;
      }
      @media (max-width: 780px) {
        margin: 10px;
      }
    }
  }
}

.login {
  background-color: #9c989c;
}

h2 {
  font-size: 1.75rem;
  text-transform: capitalize;
  margin: 5px 0;
}


.loader_wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #163c52;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.onContent {
  background: #999999;
  background: linear-gradient(to right, #999999 10%, rgba(153,153,153, 0) 42%);
  &:before{
    background: #999999;
  }
  &:after {
    background: #f1f5f8;
  }
}

@-webkit-keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
