.app-wrapper {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
            'header header'
            'content content';
  grid-template-rows: 80px 1fr;


  & .content {
    grid-area: content;
  }
}



h2{
  font-size: 1.75rem;
  text-transform: capitalize;
  margin: 5px 0;
}