
.dialogs {
  display: grid;
  background: aqua;
  grid-template-columns: 2fr 4fr;
  min-height: calc(100vh - 80px);

  & .items {
    background: pink;
  }
}


.messages {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 30px;

  .newMessage {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
            "text text text text text"
              ". . . . button";

    & textarea {
      border-radius: 10px;
      grid-area: text;
      padding: 10px;

      &:focus {
        outline: 2px solid orange;
      }
    }


    & button {
      grid-area: button;
      border-radius: 5px;
      border: 1px solid gray;
    }
  }
}

