
.dialogs {
  min-height: calc(100vh - 80px);
  display: grid;
  background: aqua;
  grid-template-columns: 2fr 4fr;


  & .items {
    background: pink;
  }
}


.messagesWrapper {
  box-sizing: border-box;
  max-height: calc(100vh - 80px);
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 30px;

  & .messages {
    min-height: calc(100vh - 350px);
    max-width: 715px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 30px;
    overflow-y: scroll;
  }

  .newMessage {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
            "text text text text text"
              ". . . . button";

    & textarea {
      grid-area: text;
    }


    & button {
      grid-area: button;
      border-radius: 5px;
      border: 1px solid gray;
    }
  }
}

